challenges/Games/**/Assets/**/*.png filter=lfs diff=lfs merge=lfs -text
challenges/Games/**/Assets/**/*.wav filter=lfs diff=lfs merge=lfs -text
challenges/Emulation/Chip8/roms/*.ch8 filter=lfs diff=lfs merge=lfs -text
challenges/Emulation/FFTSpectrum/**/*.wav filter=lfs diff=lfs merge=lfs -text
challenges/Practical/Booru[[:space:]]Imageboard[[:space:]]Downloader/downloads/**/*.png filter=lfs diff=lfs merge=lfs -text
challenges/Artificial[[:space:]]Intelligence/CNN_Framework/checkpoints/**/*.pt filter=lfs diff=lfs merge=lfs -text
challenges/Artificial[[:space:]]Intelligence/CNN_Framework/checkpoints/**/*.pth filter=lfs diff=lfs merge=lfs -text
challenges/Practical/ImgToASCII/*.png filter=lfs diff=lfs merge=lfs -text
challenges/Practical/Imageboard/docs/**/*.png filter=lfs diff=lfs merge=lfs -text
